

.master-view {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    margin: 20px;
    padding: 20px;
}

.username-input {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 20px;
}

