

.master-view {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    margin: 20px;
    padding: 20px;
}

.master-controls {
    width: 100px;
    height: 80px;
    flex-wrap: wrap row;
    margin: 20px;
}

.clue-input {
    width: 100px;
    font-size: 16px;
}