.code-card {
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.code-text {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.unknown-col  {
    background: beige;
    color: darkred;
}

.unknown-col-sel {
    background: darkgray;
}

.turned {
    background: darkmagenta;
}

.blue-col  {
    background: rgb(102, 102, 195);
    color: beige;
}  

.red-col  {
    background: rgb(240, 90, 90)
}  

.white-col  {
    background: whitesmoke
}  

.black-col  {
    background: rgb(77, 74, 74);
    color: white;
}  
